<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>385137102562-judug8gbmkvvgnbd7bkbbu4lh55jpl7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385137102562-judug8gbmkvvgnbd7bkbbu4lh55jpl7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDYccOIdAnFKWROt95CEXCWnzdIwRZuD-A</string>
	<key>GCM_SENDER_ID</key>
	<string>385137102562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.BorkTor</string>
	<key>PROJECT_ID</key>
	<string>borktor-1ca8a</string>
	<key>STORAGE_BUCKET</key>
	<string>borktor-1ca8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:385137102562:ios:241b048871a5a8d8</string>
	<key>DATABASE_URL</key>
	<string>https://borktor-1ca8a.firebaseio.com</string>
</dict>
</plist>